<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_metatag %>

    <title><%= ENV['APP_CAPTION'] %></title>

    <!-- FAVICON start -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <!-- FAVICON end -->

    <link rel="stylesheet" href="/css/tachyons.min.css">
    <link rel="stylesheet" href="/css/sweetalert2.min.css">

    <style>
      .cbl-icon {
        display: inline-block;
        height: 1em;
        width: 1em;
        fill: currentColor;
        position: relative;
        top: .125em;
      }
      input:focus {
        border-bottom-color: darkcyan;
      }
      input:required {
        border-right: thick solid orange;
      }
      .disableClick{
        pointer-events: none;
      }
      .focusLabel {
        color: darkcyan;
      }
      th {
        font-weight: normal;
      }
      .crossbeams-warning-note {
        margin-top: 0.5em;
        padding: 0.2em;
        border: thin solid olive;
        color: white;
        background-color: #FFC107;
      }

      .crossbeams-error-note {
        margin-top: 0.5em;
        padding: 0.2em;
        border: thin solid brown;
        color: brown;
        background-color: #fee;
      }

      .crossbeams-success-note p, .crossbeams-info-note p, .crossbeams-warning-note p, .crossbeams-error-note p {
        margin: 0.2em;
      }
    </style>
    <%= content_for :late_head %>
  </head>
  <body class="site" data-utf-8-ensurer="О">
    <div id="rmd-offline-status" class="navy bg-washed-blue ba b--light-blue pa3 mw6 br3" style="display:none">
      <p class="ma0"><svg class="w2 h2 mr2" width="2048" height="1792" viewBox="0 0 2048 1792" xmlns="http://www.w3.org/2000/svg"><path d="M1024 1523q-20 0-93-73.5t-73-93.5q0-32 62.5-54t103.5-22 103.5 22 62.5 54q0 20-73 93.5t-93 73.5zm270-271q-2 0-40-25t-101.5-50-128.5-25-128.5 25-101 50-40.5 25q-18 0-93.5-75t-75.5-93q0-13 10-23 78-77 196-121t233-44 233 44 196 121q10 10 10 23 0 18-75.5 93t-93.5 75zm273-272q-11 0-23-8-136-105-252-154.5t-268-49.5q-85 0-170.5 22t-149 53-113.5 62-79 53-31 22q-17 0-92-75t-75-93q0-12 10-22 132-132 320-205t380-73 380 73 320 205q10 10 10 22 0 18-75 93t-92 75zm271-271q-11 0-22-9-179-157-371.5-236.5t-420.5-79.5-420.5 79.5-371.5 236.5q-11 9-22 9-17 0-92.5-75t-75.5-93q0-13 10-23 187-186 445-288t527-102 527 102 445 288q10 10 10 23 0 18-75.5 93t-92.5 75z"/></svg>
      <strong>Offline</strong><br>You are currently offline. Please check network settings and re-connect.</p>
    </div>
    <% unless @no_menu %>
      <%= render_rmd_menu %>
    <% end %>
    <% unless @no_logout %>
      <a href="/logout" id="logout" class="f6 link dim br2 ph3 pv2 dib white bg-silver" title="Logout">logout</a>
    <% end %>
    <div id="container" class="container ma2">
      <%= yield %>
    </div>
    <script src="/js/crossbeams-rmd_scan.js?seq=15" type="text/javascript"></script>
    <script src="/js/sweetalert2.min.js" type="text/javascript"></script>
    <script>

      // Highlight label text for inputs that have focus.
      document.addEventListener('focus', function (event) {
        const prev = event.target.parentNode && event.target.parentNode.previousElementSibling;
        if (prev instanceof HTMLTableCellElement) { prev.classList.add('focusLabel'); }
      }, true);
      document.addEventListener('blur', function (event) {
        const prev = event.target.parentNode && event.target.parentNode.previousElementSibling;
        if (prev instanceof HTMLTableCellElement) { prev.classList.remove('focusLabel'); }
      }, true);

      window.addEventListener('DOMContentLoaded', function() {
        // Highlight label text for the input that gets autofocus.
        const afi = document.querySelector('input[autofocus]');
        const prev = afi && afi.parentNode && afi.parentNode.previousElementSibling;
        if (prev instanceof HTMLTableCellElement) { prev.classList.add('focusLabel'); }

        crossbeamsRmdScan.init(<%= AppConst::BARCODE_SCAN_RULES.to_json %>, <%= @bypass_rules ? true : false %>);
      });
    </script>
    <%= content_for :late_javascript %>
  </body>
</html>
