<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_metatag %>

    <title>Label Designer</title>

    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/tachyons.min.css">
    <%= assets(:css) %>
    <%= content_for :late_style %>

  </head>
  <body>
    <div height="1000px">
      <%= yield %>
    </div>
    <script src="/js/jquery-3.2.1.min.js" type="text/javascript"></script>
    <script src="/js/jquery-ui-1.12.1.min.js" type="text/javascript"></script>
    <script src="/js/ag-grid-enterprise.js" type="text/javascript"></script>
    <script src="/js/ag-enterprise-activation.js" type="text/javascript"></script>
    <script src="/js/jackbox.min.js" type="text/javascript"></script>
    <script src="/js/jquery.contextMenu.js" type="text/javascript"></script>
    <script src="/js/sweetalert2.min.js" type="text/javascript"></script>
    <script src="/js/Sortable.min.js" type="text/javascript"></script>
    <script src="/js/crossbeams-local-storage.js" type="text/javascript"></script>
    <script src="/js/crossbeams-utils.js" type="text/javascript"></script>
    <script src="/js/crossbeams-layout.js" type="text/javascript"></script>
    <script src="/js/crossbeams-grid-loader.js" type="text/javascript"></script>
    <script src="/js/crossbeams-data-miner-params.js" type="text/javascript"></script>
    <script src="/js/crossbeams-menu-builder.js" type="text/javascript"></script>
    <script src="/js/selectr.min.js" type="text/javascript"></script>
    <script src="/js/multi.min.js" type="text/javascript"></script>
    <script src="/js/a11y-dialog-cbeam.js" type="text/javascript"></script>
    <script src="/js/crossbeams-menu-handler.js" type="text/javascript"></script>
    <%= content_for :late_javascript %>
  </body>
</html>

