<h1 class="mv1">Report: <%= @page.report.caption %></h2>

<section class="crossbeams_layout-border pa2">
<form action='/dataminer/admin/<%= @page.id%>/save/' method=post class="crossbeams-form">
  <%= csrf_tag %>
  <div class="crossbeams-row">
    <div class="crossbeams-col">
      <div class="crossbeams-field">
        <label for="filename">File name</label>
        <input type='text' id="filename" name='filename' class='cbl-input' placeholder='filename.yml' value='<%= @page.filename %>' required readonly="readonly" />
      </div>
      <div class="crossbeams-field">
        <label for="caption">Caption</label>
        <input type='text' id="caption" name='caption' class='cbl-input' placeholder='Caption' value='<%= @page.report.caption %>' required size="80"/>
      </div>
      <div class="crossbeams-field">
        <label for="limit">Limit</label>
        <input type='number' id="limit" name='limit' class='cbl-input' placeholder='Limit' value='<%= @page.report.limit %>' size="80"/>
      </div>
      <div class="crossbeams-field">
        <label for="offset">Offset</label>
        <input type='number' id="offset" name='offset' class='cbl-input' placeholder='Offset' value='<%= @page.report.offset %>' size="80"/>
      </div>
      <div class="crossbeams-field">
        <label for="render_url">Render URL</label>
        <input type='url' id="render_url" name='render_url' class='cbl-input' placeholder='Render URL' value='<%= @page.report.external_settings[:render_url] %>'/>
      </div>
      <div class="crossbeams-actions">
        <input type="submit" class="dim br2 pa3 bn white bg-green" value="Update report header" />
      </div>
    </div>
  </div>

</form>
</section>
<section class="crossbeams_layout-border pa2">
  <a href="#" onclick="crossbeamsUtils.toggleVisibility('sql_code');return false" class="crossbeams-button f6 link dim br2 ph3 pv2 dib white bg-silver"><%= Crossbeams::Layout::Icon.render(:info) %> Toggle SQL view</a>
  <a href='/dataminer/admin/<%= @page.id %>/change_sql/' class="crossbeams-button f6 link dim br2 ph3 pv2 dib white bg-silver"><%= Crossbeams::Layout::Icon.render(:edit) %> Change SQL</a>
  <a href='/dataminer/admin/<%= @page.id %>/reorder_columns/' class="crossbeams-button f6 link dim br2 ph3 pv2 dib white bg-silver"><%= Crossbeams::Layout::Icon.render(:sort) %> Re-order columns</a>
  <pre id="sql_code" hidden><%= sql_to_highlight(@page.report.runnable_sql) %></pre>
</section>

<% page_config = Crossbeams::Layout::PageConfig.new %>

<% if @page.report.columns['colour_rule'] %>
  <%= Crossbeams::Layout::Grid.new(page_config, 'grd0', "/dataminer/admin/#{@page.id}/edit/colour_grid", caption: 'Fill in Colour Key descriptions', height: 10, bookmark_row_on_action: false).render %>
<% end %>

<%= Crossbeams::Layout::Grid.new(page_config, 'grd1', "/dataminer/admin/#{@page.id}/edit/columns_grid", caption: 'Columns', height: 20, bookmark_row_on_action: false).render %>

<p style="margin-top:5em;">
  <a href='/dataminer/admin/<%= @page.id %>/parameter/new/' class="crossbeams-button link dim br2 pa3 white bg-blue"><%= Crossbeams::Layout::Icon.render(:plus) %> Add a parameter</a>
</p>
<%= Crossbeams::Layout::Grid.new(page_config, 'grd2', "/dataminer/admin/#{@page.id}/edit/params_grid", caption: 'Parameters', height: 20, bookmark_row_on_action: false).render %>
<p style="height:2em">
</p>
